html,
body {
  position: relative;
  overflow: auto;
  height: 100vh;
  padding: 0rem 0rem;
  margin: 0;
  background-color: #282828;
  color: #f0e48b;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

a {
  color: #83a598;
  text-decoration: none;
  background-color: #121314;
  padding: 0.1rem;
  border-radius: 0.2rem;
}

a:hover, a:focus {
  color: #075678;
  background-color: #32302f;
}

a:visited {
  color: #458588;
  color: #83a598;
}

button {
  color: #83c07c;
  background-color: #1d2021;
  border: 0.1rem solid #83c07c; 
  border-radius: 0.2rem;
  font: inherit;
  margin: 0.4rem 0rem;
  padding: 0.4rem;
}

button:hover, button:focus {
  color: #1d2021;
  background-color: #83c07c;
  cursor: pointer;
}

p {
  margin: 0.2rem 0rem;
}

ul {
  padding: 0rem 0.4rem 0rem 1.2rem;
  margin: 0.4rem 0rem;
}

input {
  background-color: inherit;
  border-radius: 0.2rem;
  border: 0.15rem solid #b16286;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: fit-content;
}

::selection {
  color: #8ec07c;
  background-color: #504945;
}

*:focus-within {
  outline: 0px solid transparent;
}

* {
  box-sizing: border-box;
  font-weight: 200;
  font-size: 1.05rem;
}

.post-list:empty {
  display: none;
}
.post-list {
  padding: 0rem;
  border-left: 0.2rem solid;
}

.search-bar {
  padding: 0.4rem;
  position: relative;
  z-index: 10;
  background-color: transparent;
  border-bottom-left-radius: 0rem;
  border: 0.2rem solid #fabd2f;
  width: 100%;
}

.search-bar:placeholder-shown {
  border-color: #cc241d;
}

.matches {
  border-color: #d79921;
}

.similar {
  border-color: #fe8019;
  border-bottom-left-radius: 0.2rem;
}

.content-below {
  border-color: #b8bb26;
  border-bottom-right-radius: 0rem;
}

.content-panel {
  padding: 0.2rem 0.4rem;
  border-right: 0.2rem solid;
  border-bottom: 0.2rem solid;
  border-left: 0.2rem solid;
  border-bottom-right-radius: 0.2rem;
}

.found-post {
  border-color: #8ec07c;
}

.submit {
  border-color: #d3869b;
}

.submit-button {
  border-color:#8f3f71;
  color: #8f3f71;
}

.submit-button:hover, .submit-button:focus {
  background-color: #8f3f71;
}

.cancel-button {
  margin-left: 0.6rem;
  color: #9d0006;
  border-color: #9d0006;
}

.cancel-button:hover, .cancel-button:focus {
  background-color: #9d0006;
}

.related {
  border-color: #83a598;
  border-bottom-left-radius: 0.2rem;
}

.post-list-item {
  padding: 0.4rem;
  width: fit-content;
}

.post-list-item:focus, .post-list-item:hover {
  color: #8ec07c;
  background-color: #504945;
}

.clickable:hover {
  cursor: pointer;
}

.typeahead {
  top: 0.02rem;
  left: 0rem;
  padding: 0.6rem 0.6rem;
  position: absolute;
  font-weight: 200;
  color: #b57614;
  white-space: nowrap;
  width: 96%;
  text-overflow: clip;
  overflow: hidden;
}

.search-container {
  position: fixed;
  top: 0.1rem;
  left: 0rem;
  width: 70%;
  background-color: #282828;
  overflow: hidden;
}

@media (max-width: 600px) {
  .search-container {
    width: 100%;
  }
}

.enter-icon {
  color: #8ec07c;
  font-size: 80%;
}

.hidden {
  color: transparent;
}

#__next {
  height: 100%;
  display: flex;
  align-items: stretch;
}
